html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: 'Roboto';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1 {
  font-size: 38.4px;
  font-size: 2.4rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h4 {
  font-size: 20.8px;
  font-size: 1.3rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h5 {
  font-size: 16px;
  font-size: 1rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h6 {
  font-size: 14.4px;
  font-size: 0.9rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
  text-transform: uppercase;
}
ul {
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ol {
  margin: 5px 18px;
  margin: 0.32rem 1.125rem;
  padding-left: 1rem;
}
ol li {
  list-style-type: decimal;
  padding: 2px 0;
  padding: 0.125rem;
}
::-moz-selection {
  background: #0074d9;
  color: #494949;
}
::selection {
  background: #0074d9;
  color: #494949;
}
p {
  font-size: 1rem;
  margin: 0.75em 0;
  line-height: 1.6em;
}
small {
  font-size: 55%;
  opacity: 0.6;
  font-weight: normal;
}
blockquote {
  border-left: 4px solid #0074d9;
  margin: 1em 0;
  padding-left: 1.5em;
}
blockquote:after {
  content: "";
  display: block;
  clear: both;
}
blockquote > p {
  font-weight: 300;
  font-size: 127%;
  font-size: 1.27rem;
  line-height: 127%;
  line-height: 1.27rem;
  margin-top: 0;
}
blockquote > cite,
blockquote > footer,
blockquote > figcaption {
  color: #888;
}
blockquote > cite:before,
blockquote > footer:before,
blockquote > figcaption:before {
  content: '\2014';
}
.hyphenation {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}
.content {
  background-color: #113b50;
  max-width: 100%;
  overflow-x: hidden;
}
h1,
h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}
h1 {
  margin: 0 2.5rem;
  font-size: 6.854rem;
}
h2 {
  font-size: 4.236rem;
}
p {
  max-width: 40rem;
  font-weight: 300;
}
a {
  border: none;
  text-decoration: none;
  color: initial;
  color: #fff;
  font-size: 2.618rem;
  font-weight: 200;
  text-align: center;
  display: block;
}
a:hover {
  border: none;
  text-decoration: none;
  color: initial;
}
a:visited {
  opacity: 1;
}
a:hover,
a:hover .fa {
  color: #f44336;
}
a .fa {
  display: block;
  margin-bottom: 1rem;
}
.fa {
  color: #fff;
  font-size: 11.089rem;
}
.hero,
.info,
.links {
  position: relative;
  box-shadow: 0 4px 6px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.21);
}
.hero {
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #061d29;
}
.hero h1 span.blinken {
  color: #f44336;
}
.hero h1 span.rocket {
  color: #fff;
}
.hero svg {
  height: 26.913rem;
}
.hero svg #bulleye-shadow {
  mix-blend-mode: multiply;
}
.hero svg #bulleye-inner {
  -webkit-animation: blink-eye 4s infinite;
          animation: blink-eye 4s infinite;
}
.info,
.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15rem 0;
}
.info {
  z-index: 99;
  background-color: #113b50;
}
.links {
  z-index: 98;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #135779;
}
.links a {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
  padding: 5rem 0;
}
.links a:hover {
  background-color: #061d29;
}
.links .manual {
  background-color: #ff3d00;
}
.links .editor {
  background-color: #ff7423;
}
.contact {
  z-index: 97;
}
@-webkit-keyframes bg-fade {
  from {
    backgound-color: #061d29;
  }
  to {
    background-color: #135779;
  }
}
@keyframes bg-fade {
  from {
    backgound-color: #061d29;
  }
  to {
    background-color: #135779;
  }
}
@-webkit-keyframes blink-eye {
  0% {
    fill: #37474f;
  }
  25% {
    fill: #37474f;
  }
  27% {
    fill: #f44336;
  }
  30% {
    fill: #f44336;
  }
  35% {
    fill: #37474f;
  }
  35% {
    fill: #37474f;
  }
  37% {
    fill: #f44336;
  }
  40% {
    fill: #f44336;
  }
  45% {
    fill: #37474f;
  }
  55% {
    fill: #37474f;
  }
  57% {
    fill: #f44336;
  }
  60% {
    fill: #f44336;
  }
  65% {
    fill: #37474f;
  }
  63% {
    fill: #37474f;
  }
  65% {
    fill: #f44336;
  }
  68% {
    fill: #f44336;
  }
  73% {
    fill: #37474f;
  }
  70% {
    fill: #37474f;
  }
  72% {
    fill: #f44336;
  }
  75% {
    fill: #f44336;
  }
  80% {
    fill: #37474f;
  }
  100% {
    fill: #37474f;
  }
}
@keyframes blink-eye {
  0% {
    fill: #37474f;
  }
  25% {
    fill: #37474f;
  }
  27% {
    fill: #f44336;
  }
  30% {
    fill: #f44336;
  }
  35% {
    fill: #37474f;
  }
  35% {
    fill: #37474f;
  }
  37% {
    fill: #f44336;
  }
  40% {
    fill: #f44336;
  }
  45% {
    fill: #37474f;
  }
  55% {
    fill: #37474f;
  }
  57% {
    fill: #f44336;
  }
  60% {
    fill: #f44336;
  }
  65% {
    fill: #37474f;
  }
  63% {
    fill: #37474f;
  }
  65% {
    fill: #f44336;
  }
  68% {
    fill: #f44336;
  }
  73% {
    fill: #37474f;
  }
  70% {
    fill: #37474f;
  }
  72% {
    fill: #f44336;
  }
  75% {
    fill: #f44336;
  }
  80% {
    fill: #37474f;
  }
  100% {
    fill: #37474f;
  }
}
